@import url("https://use.typekit.net/jmk3xov.css");

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

/* Style for the navigation bar */
nav {
  position: fixed; /* Changed from fixed to static */
  width: 100%;
  background-color: #5c0606f2; /* Semi-transparent background */
  overflow: hidden;
  z-index: 100; /* Ensure it is above the canvas and other elements */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px; /* Increase padding for a bigger navigation bar */
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a{
  color:aqua;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote{
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

@media only screen and (max-width: 700px){

  :root {
    --dark-bg: rgba(15, 15, 15, 0.95);
    --spacing: 400px;
  
    font-family: brandon-grotesque, sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  main{
    width: 100%;
    color: white;
    z-index: 99;
    position: absolute;
    padding: 120px 0px;
    padding-right: 0%;


  }

  header {
    background: var(--dark-bg);
    grid-column: 12;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 12;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 3.5rem;
    display: inline;
    line-height: 1;
  }

  section {
    grid-column: 12;
    padding: auto;
    background: var(--dark-bg);
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    grid-column: 12;
    font-size: 0.75rem;
  }
}
